server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/powerup_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  admin:
    username: admin
    password: admin123
